<h1 mat-dialog-title>Editar tarefa</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-9">
      <div class="md-form">
        <input type="text" [(ngModel)]="task.title" maxlength="100" id="taskDescription" placeholder="Digite aqui o que você precisa fazer!"
          class="form-control">
      </div>
    </div>
    <div class="col-md-3">
      <div class="md-form form-group">
        <mat-button-toggle-group [(ngModel)]="task.priority" #group="matButtonToggleGroup">
          <mat-button-toggle matTooltip="Prioridade Baixa" value="0">
            <mat-icon class="low">outlined_flag</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle matTooltip="Prioridade Média" value="1">
            <mat-icon class="medium">outlined_flag</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle matTooltip="Prioridade Alta" value="2">
            <mat-icon class="high">outlined_flag</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="task" cdkFocusInitial>Salvar</button>
</div>