.tab-icon {
    margin-right: 8px
}
.material-icons.low { color: rgb(0, 0, 0); }
.material-icons.medium { color: rgb(255, 230, 0); }
.material-icons.high { color: rgb(197, 9, 9); }
.material-icons.danger { color: rgb(197, 9, 9); }
.material-icons.margin-right { margin-right: 15px; }
.line-through { text-decoration:line-through; }